*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;
    overflow-x: hidden;
}
.header-page{
    background-color: #F5F5F5;
    height: 806px;
    position: relative;
}
.head-resp{
    display: none;
}
.head-resp button{
    color: #FFFFFF;
    background-color: #69B99D;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 18px 48px;
    border: none;
}
.menu-resp button{
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 5rem;
    float: right;
    background: none;
}
.menu-resp{ 
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 10;
    left: 0; 
    background-color: rgb(255, 255, 255); 
    overflow-x: hidden; 
    transition: 0.9s;
    text-align: center;
}
.contenido-resp{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}
.contenido-resp a{
    padding: 20px 0;
    width: 100%;
    border: 1px solid #DEDCDA;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #69B99D;
}
header{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px 0px;
    width: 100%;
    position: relative;
    z-index: 5;
}
nav{
    display: inline-flex;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #8E8E8E;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 18px 24px;
}
nav ul li a:hover{
    color: #69B99D;
}
nav .account{
    display: inline-flex;
    padding-left: 8px;
}
.login, .sign-in{
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
}
.login{
    background-color: #69B99D;
}
.login a{
    text-decoration: none;
    color: white;
    padding: 15px 40px;
}
.sign-in a{
    color: #69B99D;
    text-decoration: none;
    padding: 15px 40px;
}
.bernard{
    background: url(imgs/bernhouse.png);
    position: absolute;
    width: 798px;
    height: 761px;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.state{
    padding: 12px 24px;
    color: #69B99D;
    background-color: #F8F9FE;
    font-weight: 500;
    width: fit-content;
}
.bloques-mayus{
    padding: 12px 24px;
    color: #69B99D;
    background-color: #F8F9FE;
    font-weight: 500;
    width: fit-content;
}
.header-page h1{
    color: #1F2744;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 3.7rem;
    padding: 24px 0;
}
.header-page p{
    width: 480px;
    color: #73788C;
    font-weight: 400;
    font-size: 1rem;
}
.header-texts{
    padding-top: 40px;
    padding-left: 120px;
    position: absolute;
    z-index: 5;
    width: 655px;
    display: flex;
    flex-direction: column;
    height: 538px;
    justify-content: space-between;
}
.header-searching{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
}
.header-searching .buttons{
    display: inline-flex;
}
.header-searching .buy button{
    color: #69B99D;
    background-color: #FEFEFF;
    border: 0;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 12px 32px;
}
.header-searching .rent button{
    color: #A6A6A6;
    background-color: #F5F5F5;
    border: 0;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 12px 32px;
}
.specifications{
    padding: 32px 0;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEFEFF;
    box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.location, .type, .price{
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
}
.places, .types, .prices{
    color: #A6A6A6;
}
.search button{
    color: #FFFFFF;
    background-color: #69B99D;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 18px 48px;
    border: 1px solid #69B99D;
}
.search button:hover{
    background-color: #FFFFFF;
    color: #69B99D;
    border: 1px solid #69B99D;
    box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}
.discover{
    padding: 120px;
    display: flex;
    flex-direction: column;
}
.disc{
    padding: 12px 24px;
    color: #69B99D;
    background-color: #F8F9FE;
    font-weight: 500;
    width: fit-content;
}
.discover h1{
    color: #054457;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    padding: 24px 0;
}
.discover .texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texts p{
    max-width: 500px;
    color: #73788C;
    font-weight: 400;
    font-size: 1rem;
}
.learn a{
    text-decoration: none;
    color: #69B99D;
    font-weight: 500;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}
.learn img{
    padding: 0 8px;
}
.contain-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 48px;
    gap: 30px;
    justify-content: space-around;
}
.card{
    padding: 16px;
    border: 1px solid #DEDCDA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1F2744;
    font-weight: 600;
    font-size: 1.4rem;
    min-height: 420px;
    max-width: 305px;
    min-width: 200px;
}
.card img{
    max-width: 310px;
}
.card p{
    color: #A6A6A6;
    font-weight: 400;
    font-size: 1rem;
}
.card .price{
    display: flex;
    justify-content: space-between;
    color: #69B99D;
    font-weight: 600;
    font-size: 1.4rem;
}
.price .area{
    background-color: #F5F5F5;
    padding: 4px 8px;
    color: #A6A6A6;
    font-weight: 400;
    font-size: 1rem;
    width: fit-content;
}
.price .area span{
    color: #1F2744;
}
.card .inquiry{
    display: flex;
}
.card .inquiry a{
    border: 1px solid #69B99D;
    color: #69B99D;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    padding: 12px 48px;
    width: 100%;
    text-decoration: none;
}
.card .inquiry a:hover{
    color: #FEFEFF;
    background-color: #69B99D;
    box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}
.advante{
    padding: 80px 120px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.advante img{
    max-width: min-content;
}
.div-vante{
    padding: 12px 24px;
    color: #69B99D;
    background-color: #F8F9FE;
    font-weight: 500;
    width: fit-content;
}
.advante h1{
    font-family: 'Rubik', sans-serif;
    color: #054457;
    font-weight: 600;
    font-size: 2.7rem;
    max-width: 400px;
    padding: 16px 0;
}
.container-grid{
    padding-top: 48px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
}
.grid-divs{
    display: flex;
    flex-direction: column;
}
.grid-divs h1{
    color: #054457;
    font-size: 1.6rem;
    font-weight: 700;
}
.grid-divs p{
    color: #73788C;
    font-size: 1rem;
    font-weight: 400;
}
.about-us{
    padding: 120px;
    display: flex;
    justify-content: space-between;
    height: 570px;
}
.about-us .left{
    position: relative;
    width: 51%;
}
.about-us .right{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;    
    width: 44%;
}
.right .abt{
    padding: 12px 24px;
    color: #69B99D;
    background-color: #F8F9FE;
    font-weight: 500;
    width: fit-content;
}
.right h1{
    font-family: 'Rubik', sans-serif;
    color: #054457;
    font-weight: 600;
    font-size: 2.7rem;
}
.right p{
    color: #73788C;
    font-size: 1rem;
    font-weight: 400;
}
.right button{
    color: #FFFFFF;
    background-color: #69B99D;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 18px 48px;
    border: 1px solid #69B99D;
}
.right button:hover{
    background-color: #FFFFFF;
    color: #69B99D;
    box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}
.left .rect-230{
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 500px;
    bottom: 0;
}
.block-salerent{
    background-color: #FFFFFF;
    min-width: 75%;
    max-width: 100%;
    display: flex;
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    padding: 12px 32px;
}
.propertysale, .apartmenrent{
    display: flex;
    align-items: center;
}
.block-salerent h1{
    color: #054457;
    font-weight: 600;
    font-size: 2.7rem;
}
.block-salerent p{
    color: #A6A6A6;
    font-weight: 400;
    font-size: 0.9rem;
}
.block-rev{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFEFF;
    padding: 0px 32px 32px 32px;    
    box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.block-rev h1{
    color: #054457;
    font-weight: 400;
    font-size: 4rem;
}
.block-rev p{
    color: #A6A6A6;
    font-weight: 400;
    font-size: 1rem;
}
.block-rev .revs{
    color: #054457;
}
.customer{
    padding: 0px 120px 120px 120px;
    display: flex;
    flex-direction: column;
}
.peopel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.peopel h1{
    font-family: 'Rubik', sans-serif;
    color: #054457;
    font-size: 2.7rem;
    font-weight: 600;
    padding: 16px 0;
}
.customer .card{
    max-height: 450px;
    max-width: 310px;
    height: 280px;
    min-height: 280px;
}
.customer .card img{
    width: min-content;
}
.card .review{
    color: #1F2744;
    font-weight: 600;
    font-size: 1rem;
    max-width: 270px;
}
.card .comentary{
    font-weight: 400;
    font-size: 0.9rem;
}
.card .designer{
    display: flex;
}
.designer img{
    height: auto;
    max-height: 48px;
}
.designer .name{
    display: flex;
    flex-direction: column;
    color: #0B2E29;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 14px;
}
.name p{
    color: #767676;
    font-size: 0.75rem;
}
.footer{
    background-color: #F5F5F5;
    padding: 80px 120px;
}
footer{
    display: inline-grid;
    width: -webkit-fill-available;
    grid-template-columns: 350px 145px 145px 150px;
    justify-content: space-between;
}
.mail{
    max-width: 350px;
}
.mail img{
    padding: 0 0 8px 0;
}
.mail p{
    color: #1F2744;
    font-weight: 400;
    font-size: 1rem;
    padding: 8px 0;
}
.mail h1{
    color: #0B2E29;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 16px 0;
}
.mail .send input, button{
    border: 0;
    font-size: 0.9rem;
}
.send input::placeholder{
    color: #D7D7D7;
}
.send input:focus{
    outline: none;
}
.send{
    max-width: 350px;
    display: flex;
}
.send input{
    width: 260px;
    padding: 8px 0px 8px 16px;
}
.send button{
    background-color: #69B99D;
    color: #FEFEFF;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 7px 23px;
    border: 1px solid #69B99D;
}
.send button:hover{
    color: #69B99D;
    background-color: #FEFEFF;
    box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}
.community p,.service p, .follow p{
    color: #0B2E29;
    font-weight: 500;
    font-size: 1.1rem;
}
.service ul, .community ul{
    list-style-type: none;
}
.service li, .community li{
    padding: 8px 0;
}
.service li a, .community li a{
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    font-size: 0.9rem;
}
.follow ul{
    list-style-type: none;
    display: flex;
}
.follow li{
    padding: 8px;
}
@media only screen and (max-width:1300px){
    .discover, .customer{
        padding: 60px;
    }
}
@media only screen and (max-width:1210px){
    .bernard{
        width: 600px;
    }
    .footer{
        padding: 80px;
    }
}
@media only screen and (max-width:1055px){
    .header-page{
        min-height: 850px;
    }
    .header-texts{
        padding-left: 40px;
        padding-top: 0;
        max-width: 600px;
        width: auto;
    }
    .bernard{
        width: 450px;
        height: 650px;
    }
    header{
        flex-direction: column;
        padding: 30px 0 0 0;    
    }
    nav{
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    nav .account{
        padding: 20px 0;
    }
    .discover{
        padding: 60px 30px;
    }
    .advante{
        padding: 40px;
    }
    .contain-cards{  
        grid-template-columns: auto;
        justify-content: center;
    }
    .container-grid{
        grid-template-columns: auto auto;
    }
    .customer .card{
        max-width: 100%;
        min-width: 50%;
        width: auto;
    }
    .about-us{
        padding: 40px;
    }
    .footer{
        padding: 40px
    }
    footer{
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 50px;
    }
}
@media only screen and (max-width:860px){
    .about-us{
        flex-direction: column-reverse;
        align-items: center;
        height: 830px;

    }
    .about-us .left{
        width: 80%;
        height: 470px;
    }
    .left .rect-230{

    }
    .left .block-rev{
        position: absolute;
        top: auto;
        left: auto;
    }
    .about-us .right{
        padding: 0;
        width: 80%;
    }
}
@media only screen and (max-width:745px){
    .head-resp{
        display: flex;
        padding: 30px 0;
        justify-content: space-between;
        width: 90%;
    }
    header{
        display: none;
    }
    .bernard{
        display: none;
    }
    .header-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .header-texts{
        position: static;
        padding: 0;
        max-width: 100%;
    }
    .peopel, .discover .texts{
        flex-direction: column;
        align-items: start;
    }
    .about-us .right, .about-us .left{
        width: 90%;
        padding: 30px 0;
    }
    .send input{
        width: auto;
    }
}
@media only screen and (max-width:640px){
    .header-page{
        min-height: 1000px;
    }
    .header-texts{
        align-items: center;
    }
    .header-texts h1, .header-texts p{
        text-align: center;
        width: 100%;
    }
    .discover{
        position: relative;
        min-height: 1700px;
    }
    .header-searching{
        width: 100%;
    }
    .buttons{
        width: 100%;
    }
    .buy, .rent{
        width: 50%;
    }
    .buttons button{
        width: 100%;
    }
    .specifications{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }
    .specifications div{
        padding: 10px 0;
    }
    .container-grid{
        grid-template-columns: auto
    }
    footer{
        grid-template-columns: auto
    }
    .left .block-salerent{
        padding: 5px 3px;
    }
    .left .block-rev{
        position: absolute;
        top: 0;
        left: auto;
    }
    .left img{
        position: static;
    }
}
@media only screen and (max-width:500px){
    .header-page{
        min-height: 1110px;
    }
    .discover h1{
        font-size: 2rem;
    }
    .about-us{
        padding: 10px;
    }
    .about-us .left{
        display: flex;
        height: min-content;
        justify-content: center;
    }
    .left .rect-230{
        display: none;
    }
    .left .block-salerent{
        flex-direction: column;
        justify-content: center;
        position: static;
        border: 1px solid #DEDCDA;
        min-width: initial;
    }
    .left .block-rev p{
        text-align: center;
    }
    .left .block-rev{
        position: static;
        padding: 5px 3px;
        height: 210px;
        box-shadow: none;
        border: 1px solid #DEDCDA;    
    }
    .customer .card{
        height: auto;
        max-height: max-content;
    }
    .price{
        flex-direction: column;
    }
}